<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <nav class="nav">
            <a class="nav-link" href="/">Books</a>
            <a class="nav-link" href="/authors">Authors</a>
            <% if (isAdmin) {%>
            <a class="nav-link" href="/easy/logout">Logout</a>
            <% } else {%>
            <a class="nav-link" href="/easy/login">Login as Admin</a>
            <% } %>
        </nav>

    </div>
</nav>