<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

<header>
    <% include ../../partials/header %>
</header>

<main>
    <form method="post" action="/books/save">
        <div class="form-group">
            <label for="exampleInputEmail1">Book's title</label>
            <input name="title" class="form-control" value="<%=book.title%>" required placeholder="Input book title">
            <input name="id" class="form-control" hidden value=<%=book.id%>>
        </div>
        <div class="form-group">
            <label for="exampleSelect1">Book's author</label>

            <select name="authorId" class="form-control" required id="exampleSelect1">
                <% authors.forEach((author, index) => { %>
                <option value=<%=author.id%>><%=author.name%></option>
               <% })%>
            </select>
            <% if (!authors[0]) { %>
            Авторов еще нет. Прежде чем добавлять книги, необходимо <a href="/authors/add">добавить авторов</a>
            <% }%>

        </div>
        <button type="submit" class="btn btn-primary">
            <%if (book.id) {%>
            Update
            <%} else  {%>
            Create
            <%}%>
        </button>
    </form>
</main>
<footer>
    <% include ../../partials/footer %>
</footer>

</body>
</html>