<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <%if (isAdmin) { %>
    <a class="btn btn-primary mb-4" href="/book/add" role="button">Add book</a>
    <% }%>
    <% if (all.length > 0) {%>
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <%if (isAdmin) { %>
            <th>Action</th>
            <% }%>
        </tr>
        </thead>
        <tbody>
        <% all.forEach((book, index) => { %>
        <tr>
            <th scope="row"><%= index%></th>
            <td><%= book.title%></td>
            <td><%= book.author.name%></td>
            <%if (isAdmin) { %>
            <td>
            <a href="books/update/<%= book.id%>">Edit</a>
            <a href="books/delete/<%= book.id%>">Delete</a>
            </td>
            <% }%>
        </tr>
        <% }); %>
        </tbody>
    </table>
    <% } else {%>
    <div class="alert alert-warning" role="alert">
       Book's hasn't
    </div>
    <% }%>
</main>
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>