<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

<header>
    <% include ../../partials/header %>
</header>

<main>
    <%if (isAdmin) { %>
    <a class="btn btn-primary mb-4" href="/authors/add" role="button">Add author</a>
    <% }%>
    <% if (all.length > 0) {%>
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Count books</th>
            <%if (isAdmin) { %>
            <th>Actions</th>
            <% }%>
        </tr>
        </thead>
        <tbody>
        <% all.forEach((author, index) => { %>
        <tr>
            <th scope="row"><%= index%></th>
            <td><%= author.name%></td>
            <td><%= author.books.length%></td>
            <%if (isAdmin) { %>
            <td>
                <a href="authors/update/<%= author.id%>">Edit</a>
                <a href="authors/delete/<%= author.id%>">Delete</a>
            </td>
            <% }%>
        </tr>
        <% }); %>
        </tbody>
    </table>
    <% } else {%>
    <div class="alert alert-warning" role="alert">
       Authors haven't
    </div>
    <% }%>
</main>
<footer>
    <% include ../../partials/footer %>
</footer>

</body>
</html>