<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

<header>
    <% include ../../partials/header %>
</header>

<main>
    <form method="post" action="/authors/save">
        <div class="form-group">
            <label for="exampleInputEmail1">Author's name</label>
            <input name="name" class="form-control" value="<%=author.name%>" required placeholder="Input author name">
            <input name="id" class="form-control" hidden value=<%=author.id%>>
        </div>
        <button type="submit" class="btn btn-primary">
            <%if (author.id) {%>
            Update
            <%} else  {%>
            Create
            <%}%>
        </button>
    </form>
</main>
<footer>
    <% include ../../partials/footer %>
</footer>

</body>
</html>